
{% for image in images %}
<li>
    <a href="/?id_img={{image.id_img}}" target="_blank">
        <img
            class="image"
            src="{{ image.img_link }}"
            alt="{{ image.image_name }}"
            width="100"
            height="100"></a>
    </a>
</li>
{% endfor %}